<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
   
<script
    src="https://kit.fontawesome.com/f0918ba8b4.js"
    crossorigin="anonymous"
></script>
<title>Register Page </title>
<style>
    .alert {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .alert.error {
        background-color: #f44336;
        color: #fff;
    }
</style>
<body>
  <% if ( typeof req.query.msg !=='undefined') { %>
    <div class="alert error" id="alert-message">
    <p><%= req.query.msg%></p>
    </div>
 <% } %>
    <section class="section">
        <% if (errors.length > 0) { %>
            <div class="alert error">
            <% errors.forEach(function(error) { %>
            <p><%= error.msg %></p>
            <% }); %>
            </div>
        <% } %>
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <h1 class="title has-text-centered">Register</h1>
            <form action="/user/register-user" method="POST">
              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    type="text"
                    placeholder="Enter your name"
                    name="name"
                    value="<%= typeof name != 'undefined' ? name : '' %>" 
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    type="email"
                    placeholder="Enter your email"
                    name="email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left">
                  <input
                    class="input"
                    type="password"
                    placeholder="Confirm your password"
                    name="password2"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary" type="submit">
                    Register
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      setTimeout(()=>{
        document.getElementById('alert-message').style.display = 'none';
      },5000);
    </script>
</body>